---
import CommonHead from "@components/common/CommonHead.astro";
import CommonHeader from "@components/common/CommonHeader.astro";
import Footer from "@components/footer/Footer.astro";
import Hero from "@components/home/Hero.astro";
import AboutText from "@components/home/AboutText.astro";
import PatricianToday from "@components/home/PatricianToday.astro";
import PatricianNorms from "@components/home/PatricianNorms.astro";
import MobileNavButton from "@components/common/MobileNavButton.astro";
import StaggerText from "../components/common/stagger-text/StaggerText.astro";
import HTMX from "../components/common/HTMX.astro";
import FooterN from "@components/footer/FooterN.astro";
import PatricianHistoryVideo from "@components/home/PatricianHistoryVideo.astro"

import "@fontsource/space-grotesk/400.css";
import "@components/common/swup.css";
---

<html lang="en">
<CommonHead title="St. Patrick's College | SPC Media Unit | 175 years" />

<body class="cursor-default bg-spc-dark text-spc-light font-sans" x-data="{open:false}">
<CommonHeader
    now="Home"
    title="Fide et Labore"
/>

<main>
    <Hero />
    <div class="hidden md:block">
        <PatricianHistoryVideo/>
    </div>
    

    <AboutText />

    <PatricianToday />

    <PatricianNorms />

</main>

<MobileNavButton />

<FooterN />


<HTMX />
</body>
<style>
    .animate-text {
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
    </style>
</html>
