---
import FooterSocialItem from "./FooterSocialItem.astro";
import SPCLogo from "@components/common/SPCLogo.astro";
---

<div class="flex justify-start items-center -m-2 mt-10 space-x-4">
  <a href="/">
  </a>
</div>
