---
interface Props {
  text: string;
  url: string;
}

const { text, url } = Astro.props;
---

<a
  href={url}
  class="inline-block px-6 py-2 bg-transparent text-spc-gold font-bold rounded-full border-2 border-spc-gold hover:bg-spc-gold/10 transition-all duration-300 shadow-lg hover:shadow-xl transform hover:-translate-y-1 text-center text-lg"
>
  {text}
</a>